<template>
  <v-app-bar
      app
      color="primary"
      dark
    >
    <div class="d-flex align-center">
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2"
        contain
        src="@/assets/images/logo2.png"
        transition="scale-transition"
        width="40"
      />

      <v-img
        alt="Vuetify Name"
        class="shrink mt-1 hidden-sm-and-down"
        contain
        min-width="100"
        src="@/assets/images/logo3.png"
        width="100"
      />
    </div>

    <v-spacer></v-spacer>
    
    <v-btn
      @click="sair"
      target="_blank"
      text
    >
      <span class="mr-2">Sair</span>
      <v-icon>mdi-account-arrow-right-outline</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Navbar',
  components: {
  },
  data: () => ({

  }),
  methods: {
    ...mapActions('Global', ['logout']),
    sair () {
      this.logout()
        .then(() => this.$router.push('/login'))
    }
  }
}
</script>
