<template>
  <div>
    <Navbar />
    <v-container>
      <Index />
    </v-container>
  </div>
</template>

<script>
import Navbar from '../components/Default/Navbar'
import Index from '../components/Home/Index'

export default {
  name: 'Home',
  components: {
    Navbar,
    Index
  }
}
</script>
