<template>
  <div>
    <IndexLogin />
  </div>
</template>

<script>
import IndexLogin from '../components/Login/Index'

export default {
  name: 'Login',
  components: {
    IndexLogin
  },
  data () {
    return {

    }
  },
  mouted () {

  },
  methods: {
    
  }
}
</script>

<style lang="scss" scoped>

</style>