<template>
  <v-row justify="center">
    <v-dialog
      v-model="loader"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Por favor aguarde
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <div>
          <v-card
            class="mx-auto"
            max-width="344"
          >
            <v-card-text>
              <div>Informar Falta D'Água</div>
              <p class="display-1 text--primary">
                Cadastre uma ocorrência de falta d'água
              </p>
              <div class="text--primary">
                em sua residência ou<br>
                em alguma rua.
              </div>
            </v-card-text>
            <v-card-actions>
              <v-btn
                text
                color="deep-purple accent-4"
                v-bind="attrs"
                v-on="on"
              >
                Acessar
              </v-btn>
            </v-card-actions>
          </v-card>
          <v-alert
            dense
            text
            type="success"
            v-model="showAlert"
          >
            Usuário cadastrado com sucesso
          </v-alert>
        </div>
      </template>
      <v-card>
        <validation-observer
          ref="observer"
          v-slot="{ invalid }"
        >
          <v-toolbar
            dark
            color="primary"
          >
            <v-btn
              icon
              dark
              @click="dialog = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Formulário de falta d'água</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                dark
                text
                :disabled="invalid"
                @click="registerFA"
              >
                Salvar
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-container fluid>
            <form @submit.prevent="submit">
              <v-text-field
                v-model="form.cep"
                v-mask="'#####-###'"
                label="CEP"
                @blur="getAddress"
              ></v-text-field>
              <validation-provider
                v-slot="{ errors }"
                name="rua"
                rules="max:60"
              >
                <v-text-field
                  v-model="form.rua"
                  :error-messages="errors"
                  label="Rua"
                ></v-text-field>
              </validation-provider>
              <v-text-field
                v-model="form.numero"
                v-mask="'#####'"
                label="Numero"
              ></v-text-field>
              <validation-provider
                v-slot="{ errors }"
                name="rua"
                rules="max:60"
              >
                <v-text-field
                  v-model="form.bairro"
                  label="Bairro"
                  :error-messages="errors"
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="cidade"
                rules="required|min:3|max:25"
              >
                <v-text-field
                  v-model="form.cidade"
                  :error-messages="errors"
                  label="Cidade"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="referencia"
                rules="required|min:3|max:25"
              >
                <v-text-field
                  v-model="form.referencia"
                  :error-messages="errors"
                  label="Ponto de referência"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="descricao"
                rules="required|min:3|max:250"
              >
                <v-textarea
                  solo
                  name="descricao"
                  v-model="form.descricao"
                  label="Breve descrição"
                  :error-messages="errors"
                ></v-textarea>
              </validation-provider>
            </form>
          </v-container>
        </validation-observer>  
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { required, max, min } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import {mask} from 'vue-the-mask'
import { mapActions, mapGetters } from 'vuex'
import Swal from 'sweetalert2'

setInteractionMode('eager')

extend('required', {
  ...required,
  message: '{_field_} não pode ser vazio',
})

extend('max', {
  ...max,
  message: '{_field_} não pode ser maior que {length} caractéres',
})

extend('min', {
  ...min,
  message: '{_field_} não pode ser menor que {length} caractéres',
})

  export default {
    name: 'IndexHome',
    directives: {
      mask
    },
    components:{
      ValidationProvider,
      ValidationObserver
    },
    data: () => ({
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      form: {
        cep: '',
        rua: '',
        bairro: '',
        cidade: '',
        numero: '',
        referencia: '',
        descricao: ''
      },
      form_InitialState: {
        cep: '',
        rua: '',
        bairro: '',
        cidade: '',
        numero: '',
        referencia: '',
        descricao: ''
      },
      loader: false,
      showAlert: false
    }),
    computed: {
      ...mapGetters('Global', ['tokenCheck'])
    },
    methods: {
      ...mapActions('Home', ['cadFaltaAgua']),
      ...mapActions('Global', ['checkToken', 'logout']),
      async getAddress() {
        await fetch(`https://viacep.com.br/ws/${this.form.cep}/json/`)
        .then(ret => ret.json())
        .then(res => {
          this.form.rua = res.logradouro
          this.form.bairro = res.bairro
          this.form.cidade = res.localidade
        })
      },
      async registerFA(ev) {
        ev.preventDefault()

        this.loader = true
        try {
          let formData = new FormData()
          formData.append('Cep', this.form.cep)
          formData.append('Rua', this.form.rua)
          formData.append('Numero', this.form.numero)
          formData.append('Bairro', this.form.bairro)
          formData.append('Cidade', this.form.cidade)
          formData.append('Referencia', this.form.referencia)
          formData.append('Descricao', this.form.descricao)
          formData.append('IdUser', localStorage.getItem('id'))

          await this.cadFaltaAgua(formData)
          this.loader = false
          this.dialog = false
          this.showAlert= true
          setInterval(() => this.showAlert = false, 2000)
          this.form = this.form_InitialState
        } catch(e){
          this.dialog = false
          this.loader = false
          this.error = e
          this.form = this.form_InitialState
          Swal.fire({
            icon: 'error',
            title: 'Falha no registro',
            html: 'Algo não correu bem. Por favor tente mais tarde.'
          })
        }
      }
    },
    async created() {
      try{
        await this.checkToken()
      } catch(e) {
        Swal.fire({
            icon: 'error',
            title: e.message,
            html: 'Algo não correu bem. Por favor tente mais tarde.'
          })
        this.logout()
        this.$router.push('/login')
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>