<template>
  <v-row justify="center">
    <v-dialog
      v-model="loader"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Por favor aguarde
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-container>
          <v-row justify="center" align="center">
            <v-card width="500" align="center">
              <v-img
                  width="200px"
                  height="200px"
                  src="@/assets/images/logo1.png"
                ></v-img>
              <v-card-title class="black--text mt-8">
                Login
              </v-card-title>

              <v-card-text>
                <validation-observer
                  ref="observer"
                  v-slot="{ invalid }"
                >
                  <form @submit.prevent="login">
                    <validation-provider
                      v-slot="{ errors }"
                      name="E-mail"
                      rules="required|email"
                    >
                      <v-text-field
                        v-model="email"
                        :error-messages="errors"
                        label="E-mail"
                        required
                      ></v-text-field>
                    </validation-provider>
                    <validation-provider
                      v-slot="{ errors }"
                      name="Senha"
                      rules="required|min:2"
                    >
                    <v-text-field
                      v-model="password"
                      :error-messages="errors"
                      :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPass ? 'text' : 'password'"
                      name="input-10-1"
                      label="Senha"
                      counter
                      @click:append="showPass = !showPass"
                    ></v-text-field>
                    </validation-provider>
                    <v-row>
                      <v-col>
                        <v-checkbox
                          v-model="checkbox"
                          value="1"
                          label="Lembrar"
                          type="checkbox"
                        ></v-checkbox>
                      </v-col>
                      <v-col>
                        <a href="javascript:void(0);" style="text-decoration: underline;" @click="recover">Esqueci a senha</a>
                      </v-col>
                    </v-row>
                    <v-btn
                      class="mr-4"
                      type="submit"
                      :disabled="invalid"
                      color="indigo lighten-2"
                    >
                      Acessar
                    </v-btn>
                    <v-btn
                        color="primary"
                        dark
                        v-bind="attrs"
                        v-on="on"
                      >
                        Cadastrar-se
                      </v-btn>
                  </form>
                </validation-observer>
              </v-card-text>
            </v-card>
          </v-row>
        </v-container>
      </template>
      <validation-observer
        ref="observer1"
        v-slot="{ invalid }"
      >
        <v-card>
          <v-card-title>
            <span class="headline">Cadastrar-se</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <validation-provider
                    v-slot="{ errors }"
                    name="E-mail"
                    rules="required|email"
                  >
                    <v-text-field
                      v-model="formCad.email"
                      label="E-mail*"
                      :error-messages="errors"
                      required
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <validation-provider
                    v-slot="{ errors }"
                    name="Senha"
                    rules="required|minPass:8|maxPass:8"
                    vid="senha"
                  >
                    <v-text-field
                      v-model="formCad.senha"
                      label="Senha*"
                      :error-messages="errors"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <validation-provider
                    v-slot="{ errors }"
                    name="RepitaSenha"
                    rules="confirmed:senha|required"
                  >
                    <v-text-field
                      v-model="formCad.repSenha"
                      label="Repita a senha*"
                      persistent-hint
                      required
                      :error-messages="errors"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col cols="12">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Nome"
                    rules="required|min:15|max:40"
                  >
                    <v-text-field
                      v-model="formCad.nome"
                      label="Nome completo*"
                      persistent-hint
                      required
                      :error-messages="errors"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
            </v-container>
            <small>*Indica campos obrigatórios</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Fechar
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              :disabled="invalid"
              @click="register"
            >
              Registrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </validation-observer>
    </v-dialog>
    <v-alert
      dense
      text
      type="success"
      v-model="showAlert"
    >
      Usuário cadastrado com sucesso
    </v-alert>
  </v-row>
</template>

<script>
import { required, email, max, min, confirmed } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'

setInteractionMode('eager')

extend('confirmed', {
  ...confirmed,
  message: 'Senhas devem ser iguais'
})

extend('required', {
  ...required,
  message: '{_field_} não pode ser vazio',
})

extend('max', {
  ...max,
  message: '{_field_} não pode ser maior que {length} caractéres',
})

extend('min', {
  ...min,
  message: '{_field_} não é válida',
})

extend('minPass', {
  ...min,
  message: '{_field_} deve ter no mínimo {length} caractéres'
})

extend('maxPass', {
  ...max,
  message: '{_field_} deve ter no máximo {length} caracteres.'
})

extend('email', {
  ...email,
  message: 'Digite um e-mail válido',
})

export default {
  name: 'IndexLogin',
  components:{
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    email: '',
    password: '',
    checkbox: null,
    showPass: false,
    showAlert: false,
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters'
    },
    load: false,
    error: '',
    dialog: false,
    loader: false,
    formCad: {
      email: '',
      senha: '',
      repSenha: '',
      nome: ''
    }
  }),
  methods: {
    ...mapActions('Login', ['autenticar', 'cadastro']),
    async login (ev) {
      ev.preventDefault()
      this.loader = true
      try {
        let formData = new FormData()
        formData.append('login', this.email)
        formData.append('senha', this.password)
        this.load = true

        await this.autenticar(formData)
        this.loader = false
        this.$router.push('/')
      } catch (e) {
        this.loader = false
        this.error = e
        console.log(e)
        Swal.fire({
          icon: 'error',
          title: 'Falha na autenticação',
          html: 'Usuário ou senha inválidos'
        })
      }
    },
    clear () {
      this.email = ''
      this.password = ''
      this.checkbox = null
      this.$refs.observer.reset()
    },
    async register (ev) {
      ev.preventDefault()

      this.loader = true
      try {
        let formData = new FormData()
        formData.append('Nome', this.formCad.nome)
        formData.append('Email', this.formCad.email)
        formData.append('Senha', this.formCad.senha)

        await this.cadastro(formData)
        this.loader = false
        this.dialog = false
        this.showAlert= true
        setInterval(() => this.showAlert = false, 2000)
      } catch (e) {
        this.dialog = false
        this.loader = false
        this.error = e
        Swal.fire({
          icon: 'error',
          title: 'Falha no registro',
          html: 'Algo não correu bem. Por favor tente mais tarde.'
        })
      }
    },
    recover () {
      alert('recuperar')
    }
  }
}
</script>

<style lang="scss" scoped>

</style>